{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>{% block title %}AssessorAI{% endblock title %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body class="bg-[#F8F8F8] text-[#1E1E1E] font-sans leading-normal tracking-normal">
    {% block content %}
    <!-- Authentication page content -->
    {% endblock content %}
</body>
</html>
