<aside id="sidebar" class="bg-[#A541FF] text-white w-64 space-y-6 py-7 px-2 transform -translate-x-full md:translate-x-0 md:relative absolute inset-y-0 left-0 md:block min-h- min-h-screen">
    <nav class="mt-10">
        {% for section in sidebar_menu %}
            <div class="mb-4">
                <h3 class="px-4 text-sm font-semibold uppercase tracking-wide text-gray-200">{{ section.title }}</h3>
                <ul class="mt-2 space-y-1">
                    {% for item in section.items %}
                        {% if item.disabled %}
                            <li class="py-2 px-4 text-gray-400 cursor-not-allowed">{{ item.name }}</li>
                        {% else %}
                            <li>
                                <a href="{% url item.url_name %}" class="block py-2 px-4 rounded hover:bg-[#8200e3]">{{ item.name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        <hr class="border-purple-300 my-4">
        <div class="px-4 text-sm space-y-2">
            <p>{{ request.user.username }}</p>
            <a href="{% url 'core:meu_mandato' %}" class="block hover:underline">Configurar perfil</a>
        </div>
    </nav>
</aside>

